<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShowAllStServlet</servlet-name>
        <servlet-class>Servlet.ShowAllStServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSt</servlet-name>
        <servlet-class>Servlet.ShowSt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchName</servlet-name>
        <servlet-class>Servlet.SearchName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>Servlet.editProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPf</servlet-name>
        <servlet-class>Servlet.EditPf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginMobile</servlet-name>
        <servlet-class>Servlet.LoginMobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileMobile</servlet-name>
        <servlet-class>Servlet.ViewProfileMobile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAllStServlet</servlet-name>
        <url-pattern>/ShowAllStServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSt</servlet-name>
        <url-pattern>/ShowSt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchName</servlet-name>
        <url-pattern>/SearchName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPf</servlet-name>
        <url-pattern>/EditPf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginMobile</servlet-name>
        <url-pattern>/LoginMobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileMobile</servlet-name>
        <url-pattern>/ViewProfileMobile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
